<html>
    <head></head>
    <body>
        <form action="/join_process">
            <input type="text", name = user_id>
            <input type="text", name = user_pw>
            <button>회원가입</button>
        </form>
    </body>
</html>